#vanilla, #jquery {
  padding: 10px 25px;
  margin-top: 1%;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: wheat;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #999;
}

#vanilla:hover,#jquery:hover {
  background-color: bisque;
}

#vanilla:active,#jquery:active {
  background-color: bisque;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#text {
  color: white;
}
#img {
  height: 70%;
  width: 60%;
}