#img {
    width: 600px;
    height: 500px;
}

#fancyBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}

#date {
    background-color: burlywood;
    margin-left: 45%;
    margin-right: 45%;
    padding: 5px;
    text-align: center;
    font-size: 25px;
}